<html>
	<head>
		<meta charset="UTF-8">
		<title> Login </title>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
		<link href="https://fonts.googleapis.com/css2?family=Kalnia+Underline&display=swap" rel="stylesheet">
		<style>
			body {
				font-family: 'Kalnia Underline', sans-serif;
			}
		</style>
	</head>
	<body>
			<section class="vh-100" style="background-color: #eee;">
				<div class="container h-100">
				  <div class="row d-flex justify-content-center align-items-center h-100">
					<div class="col-lg-12 col-xl-11">
					  <div class="card text-black" style="border-radius: 25px;">
						<div class="card-body p-md-5">
						  <div class="row justify-content-center">
							<div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
			  
							  <p class=" text-uppercase text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">make reservation</p>
			  
		<form action="{{url_for('reservation')}}" method="post">
			{{msg}}
		<!-- Email input -->
		<div class="form-outline mb-4">
			<label class="text-uppercase  form-label" for="form2Example1">date</label>
		  <input type="date" name="date" required id="form2Example1" class="form-control" />
		  <input type="hidden" name="user_id" value={{session.id}}  />
		  <input type="hidden" name="doctor_id" value={{ id }}>
		</div>
	  
		<!-- Password input -->
		<div class="form-outline mb-4">
			<label class="text-uppercase  form-label" for="form2Example2">message</label>
		  <input type="text" name="message" required id="form2Example2" class="form-control" />
		</div>
	  
		<!-- 2 column grid layout for inline styling -->
	
	  
		
		<!-- Submit button -->
		<button type="submit" class=" text-uppercase text-center btn btn-primary btn-block mb-4">make </button>
	  
		<!-- Register buttons -->
		
	  </form>

</div>
</div>
</div>
</div>
</div>
</div>
</div>
</section>

	  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
	  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
	  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
	</body>
</html>
